climmands==0.0.3
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.3.0
numpy==1.19.1
Pillow==7.2.0
pyaml==20.4.0
pycairo==1.19.1
pygame==1.9.6
PyGObject==3.36.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
six==1.15.0
